@model PlaceViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about building application with Brickweave <a href="https://github.com/agartee/Brickweave">here</a>.</p>
    <p>Learn more about creating ASP.NET Core background services <a href="https://docs.microsoft.com/en-us/aspnet/core/fundamentals/host/hosted-services?view=aspnetcore-3.1&tabs=visual-studio">here</a>.</p>
</div>
