<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Learn about building application with Brickweave 
        <a href="https://github.com/agartee/Brickweave">here</a>.
    </p>
</div>

<p>
    This application demonstrates the most basic features of 
    <b>Brickweave.Messaging</b>. Comments throughout the class files combined 
    with the documentation on the GitHub project page should give you a pretty 
    good idea of what is going on.
</p>

<p>
    Note that unlike most of the other demo projects, there is no CLI 
    capabilities provided in this application. It's focus is purely domain 
    messaging.
</p>

<p>
    Once you've setup a Message Bus and Queue (or Topic) on your Microsoft
    Azure account, the messages you've sent through this application will be
    visible using the Service Bus Explorer tools on the Azure portal.
</p>

<p>
    If using Kestral to launch the application and logging is configured to
    show <strong>Information logs</strong>, when domain messages are sent they
    will appear in the console logger.
</p>
