<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Learn about building application with Brickweave 
        <a href="https://github.com/agartee/Brickweave">here</a>.
    </p>
</div>

<p>
    demo...
</p>
