@model PersonViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create Person</h2>

<form asp-action="Create">
    <div>
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" required />
    </div>
    <div>
        <label asp-for="LastName"></label>
        <input asp-for="LastName" required />
    </div>

    <button type="submit">Done</button>
</form>

<a asp-controller="Person" asp-action="List">Back To List</a>