@model PersonViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Person</h2>

<form asp-action="Edit">
    <div>
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" required />
    </div>
    <div>
        <label asp-for="LastName"></label>
        <input asp-for="LastName" required />
    </div>

    <button type="submit">Done</button>
    <button type="submit" formaction="delete" onclick="return confirm('Are you sure you want to delete this?')">Delete</button>
</form>

<a asp-controller="Person" asp-action="List">Back To List</a>
