<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Learn about building application with Brickweave 
        <a href="https://github.com/agartee/Brickweave">here</a>.
    </p>
</div>

<p>
    This application demonstrates the event sourcing persistence features of 
    <b>Brickweave.EventStore</b> and <b>Brickweave.EventStore.SqlServer</b>. 
    Comments throughout the class files combined with the documentation on the 
    GitHub project page should give you a pretty good idea of what is going on.
</p>
