<!DOCTYPE html>
<html lang="en">
<head>
    <title>Brickweave Demo</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>Brickweave Event Sourcing Demo</h1>
        <nav>
            <a asp-controller="Person" asp-action="List">Demo: Manage People</a>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

    @RenderSection("Scripts", required: false)
</body>
</html>
