@using EventSourcingDemo.Domain.People.Models
@model IEnumerable<PersonInfo>

@{
    ViewData["Title"] = "People";
}

<h1>People</h1>

<div>
    <a asp-action="Create">Create New</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
